#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#header h1 {
  margin: 0;
  padding-right: 1em;
}
#nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#nav p {
  margin: 0 0 10px 0;
  cursor: pointer;
}